.abs-btm {
  bottom: 0;
}

.art-red-img {
  background: url(https://www.stickpng.com/assets/images/580b57fbd9996e24bc43bd06.png) 50% 50% no-repeat, linear-gradient(#f00, #f00);
  background-size: 70%, 100%;
  height: 63px;
  width: 63px;
}

.the-N {
  font-family: Impact, fantasy;
}
