.abs-btm {
  bottom: 0;
}

.art-red-img {
  background: url(https://www.stickpng.com/assets/images/580b57fbd9996e24bc43bd06.png) 50% 50% no-repeat, linear-gradient(#f00, #f00);
  background-size: 70%, 100%;
  height: 63px;
  width: 63px;
}

.the-N {
  font-family: Impact, fantasy;
}

.the-NN {
  background: linear-gradient(#f00,#f00), linear-gradient(#fff,#fff), linear-gradient(#f00,#f00);
  background-position: 0% 0%, 50% 50%, 100% 100%;
  background-repeat: no-repeat;
  background-size: 90% 90%, 85% 85%, 85% 85%;
  height: 35px;
  width: 35px;
}

.r-t-l-f-s {
  background: linear-gradient(#eee,#eee), linear-gradient(#e00,#e00), linear-gradient(#eee,#eee), linear-gradient(#e00,#e00), linear-gradient(#eee,#eee), linear-gradient(#e00,#e00), linear-gradient(#eee,#eee);
  background-position: 76% 75%, 80% 80%, 67% 65%, 59% 51%, 49% 40%, 42% 26%, 100% 100%;
  background-repeat: no-repeat;
  background-size: 54% 52%, 60% 60%, 60% 61%, 60% 60%, 60% 62%, 60% 60%, 100% 100%;
  padding: 18px 0 0 30px;
  height: 50px;
  width: 70px;
}
/*100% 100%, 90% 85%*/
